<!DOCTYPE html>
<html>
<head>


<style>


body {background-color: #e0e0e0;}

h1   {color: White; background-color: #6a1414; text-align:center;}
.button {
  background-color: #6a1414; 
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Fjalla One','Katibeh', serif;
}
.button1 {
  background-color: #6a1414; 
  color: white; 
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: #6a1414;
}



</style>
</head>

</html>